body.page-template-page-about {
  .baiHero {
    min-height: 500px;
    display: flex;
    background-position: center !important;
    //height: 100vh !important;
    @include breakpoint(md) {
      min-height: 600px;
    }
  }
  .homeHero {
    h2 {
      color: white;
      @include breakpoint(md) {
        //font-size: 60px;
      }
    }
    p {
      color: white;
      @include breakpoint(sm) {
        // color: $primaryColor;
      }
    }
    .row {
      @include breakpoint(xs) {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  section.about {
    h2 {
      color: $primaryColor;
    }
  }

  .baiTeam {
    h2 {
      color: $primaryColor;
      border-bottom: 4px solid $primaryColor;
      display: inline;
    }
    .teamMmeber {
      div {
        /* Rectangle 4: */
        background: #fbfbfb;
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.06);
        border-radius: 14px;
        padding: 20px 15px;
        h4 {
          color: $primaryColor;
          border-bottom: 4px solid $primaryColor;
          display: inline;
          text-transform: uppercase;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .teamMembers {
    .card {
      background: #f7f7f7;
      border-color: #f0ecec;
      a {
        display: block;
        overflow: hidden;
        img {
          transition: transform 0.2s; /* Animation */
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      h5 {
        margin-bottom: 1px;
      }
    }
    .modal {
      .modal-dialog {
        @include breakpoint(sm) {
          max-width: 650px;
        }
      }
      .modal-header {
        background: $primaryColor;
        h5 {
          color: white;
        }
      }
    }
  }
}
