body.single {
  .projectTop {
    position: relative;
    .projectImage {
      overflow: hidden;
      @include breakpoint(xs) {
        display: flex;
        justify-content: center;
      }
    }
    img {
      height: 350px;
      max-width: initial;
      @include breakpoint(sm) {
        width: 100%;
        height: initial;
        min-height: 400px;
      }
    }
    .container {
      background: white;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -38px;
      h1 {
        color: $primaryColor;
      }
      span {
        display: inline-block;
        font-size: 12px;
      }
      .projectLocation {
        float: right;
      }
    }
  }
  .projectContent {
    p.strong {
      color: $primaryColor;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
  .modal-body {
    iframe {
      max-width: 100%;
      height: 280px;
      margin-bottom: 30px;
    }
  }
  .relatedPost {
    .card {
      // @include breakpoint(md) {
      //   min-height: 321px;
      // }
      .card-title {
        @include breakpoint(md) {
          min-height: 84px;
        }
      }
    }
  }
  .sidebar {
    @include breakpoint(md) {
      border-left: 1px solid #d4d4d4;
    }
  }
}

body.page-template-page-proyecto,
body.single-projects {
  .card {
    // @include breakpoint(md) {
    //   min-height: 321px;
    // }
    .card-title {
      @include breakpoint(md) {
        min-height: 55px;
      }
    }
  }
}
