/*
	Theme Name: Atico Investment
	Theme URI: http://ativoinvest.com
	Description: Atico Wordpress Theme
	Version: 2.0
	Author: Jean Fondeur
	Author URI: https://jeanfondeur.com
	Tags: Blank, HTML5, CSS3, SCSS, BOOTSTRAP

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
@import url("node_modules/bootstrap/dist/css/bootstrap.css");
@font-face {
  font-family: "Proxima Nova A";
  src: url("fonts/proxima/ProximaNovaA-Bold.eot");
  src: url("fonts/proxima/ProximaNovaA-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima/ProximaNovaA-Bold.woff2") format("woff2"), url("fonts/proxima/ProximaNovaA-Bold.woff") format("woff"), url("fonts/proxima/ProximaNovaA-Bold.ttf") format("truetype"), url("fonts/proxima/ProximaNovaA-Bold.svg#ProximaNovaA-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proxima/ProximaNova-Regular.eot");
  src: url("fonts/proxima/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/proxima/ProximaNova-Regular.woff2") format("woff2"), url("fonts/proxima/ProximaNova-Regular.woff") format("woff"), url("fonts/proxima/ProximaNova-Regular.ttf") format("truetype"), url("fonts/proxima/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova A";
  src: url("fonts/proxima/ProximaNovaA-Medium.eot");
  src: url("fonts/proxima/ProximaNovaA-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/proxima/ProximaNovaA-Medium.woff2") format("woff2"), url("fonts/proxima/ProximaNovaA-Medium.woff") format("woff"), url("fonts/proxima/ProximaNovaA-Medium.ttf") format("truetype"), url("fonts/proxima/ProximaNovaA-Medium.svg#ProximaNovaA-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
/* line 53, css/sass/style.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Proxima Nova A", sans-serif;
  font-weight: bold;
}

/* line 62, css/sass/style.scss */
p,
span,
li {
  font-family: "Proxima Nova", serif;
  font-size: 16px;
  line-height: 1.8;
}

/* line 70, css/sass/style.scss */
button,
a {
  font-family: "Proxima Nova", serif;
  font-size: 16px;
  color: initial;
}
/* line 75, css/sass/style.scss */
button:hover,
a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 81, css/sass/style.scss */
.brown {
  color: #6b4c2d;
}

/* line 85, css/sass/style.scss */
.white {
  color: #fff;
}

/* line 89, css/sass/style.scss */
img {
  max-width: 100%;
}

/* line 93, css/sass/style.scss */
.btn-primary {
  /* Rectangle 24: */
  background-image: linear-gradient(45deg, #6b4c2d 0%, #967857 100%);
  border-color: #6b4c2d;
}
/* line 97, css/sass/style.scss */
.btn-primary:hover {
  background-image: linear-gradient(45deg, #967857 0%, #6b4c2d 100%);
  border-color: #6b4c2d;
}

/* line 103, css/sass/style.scss */
.badge-primary {
  background-image: linear-gradient(45deg, #6b4c2d 0%, #967857 100%);
  border-color: #6b4c2d;
  padding: 5px 10px;
}

/* line 109, css/sass/style.scss */
.btn-outline-primary {
  color: #6b4c2d;
  border-color: #6b4c2d;
}
/* line 112, css/sass/style.scss */
.btn-outline-primary:hover {
  background-color: #6b4c2d;
  border-color: #6b4c2d;
}

/* line 118, css/sass/style.scss */
.getStartedModule {
  margin: 50px 0;
  padding: 100px 0;
}
/* line 121, css/sass/style.scss */
.getStartedModule form {
  justify-content: center;
}

/* line 127, css/sass/style.scss */
.infusion-form.form-inline .form-control {
  margin-right: 0 !important;
  font-size: 14px;
  color: #6b4c2d;
}
@media (min-width: 768px) {
  /* line 127, css/sass/style.scss */
  .infusion-form.form-inline .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
}
@media (max-width: 767px) {
  /* line 127, css/sass/style.scss */
  .infusion-form.form-inline .form-control {
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 140, css/sass/style.scss */
  .infusion-form.form-inline .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media (max-width: 767px) {
  /* line 140, css/sass/style.scss */
  .infusion-form.form-inline .btn {
    width: 100%;
  }
}

/* line 152, css/sass/style.scss */
.card {
  overflow: hidden;
  border-radius: 14px;
  transition: box-shadow 0.2s;
  /* Animation */
}
/* line 157, css/sass/style.scss */
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
@media (max-width: 767px) {
  /* line 152, css/sass/style.scss */
  .card {
    margin-bottom: 30px !important;
  }
}
/* line 163, css/sass/style.scss */
.card .card-title {
  margin-right: 20px;
}
/* line 171, css/sass/style.scss */
.card a {
  display: block;
  overflow: hidden;
}
/* line 174, css/sass/style.scss */
.card a img {
  transition: transform 0.2s;
  /* Animation */
}
/* line 177, css/sass/style.scss */
.card a img:hover {
  transform: scale(1.2);
}

/* line 188, css/sass/style.scss */
.projectsModule .card .card-body .badge {
  margin-bottom: 0 !important;
}

/* line 1, css/sass/_header.scss */
header {
  background: white;
}
/* line 5, css/sass/_header.scss */
header .navbar .navbar-brand img {
  max-width: 120px;
}
@media (min-width: 992px) {
  /* line 9, css/sass/_header.scss */
  header .navbar #menu-header,
  header .navbar #menu-header-es,
  header .navbar #menu-header-en {
    margin-right: 20px;
  }
  /* line 15, css/sass/_header.scss */
  header .navbar #menu-header li a,
  header .navbar #menu-header-es li a,
  header .navbar #menu-header-en li a {
    font-size: 15px;
    color: #6b4c2d;
  }
}
/* line 23, css/sass/_header.scss */
header .navbar form input.form-control {
  padding: 0 10px;
  margin-bottom: 0 !important;
}
/* line 27, css/sass/_header.scss */
header .navbar form button.btn {
  margin-bottom: 0 !important;
}
/* line 31, css/sass/_header.scss */
header .navbar .dropdown-toggle::after {
  display: none;
}
/* line 34, css/sass/_header.scss */
header .navbar .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  border-color: whitesmoke;
  border-top: 0;
}
@media (min-width: 992px) {
  /* line 40, css/sass/_header.scss */
  header .navbar .dropdown-menu .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* line 45, css/sass/_header.scss */
header .navbar .dropdown-menu .dropdown-item:hover {
  background: #6b4c2d;
  color: white !important;
}
/* line 50, css/sass/_header.scss */
header .navbar .dropdown-menu .dropdown-item.active {
  background: #6b4c2d;
  color: white !important;
}
@media (min-width: 992px) {
  /* line 56, css/sass/_header.scss */
  header .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* line 2, css/sass/_home.scss */
body.home section {
  padding: 55px 0;
}
/* line 7, css/sass/_home.scss */
body.home .baiHero {
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 400px;
  background-position: center !important;
}
@media (min-width: 992px) {
  /* line 7, css/sass/_home.scss */
  body.home .baiHero {
    min-height: 600px;
  }
}
/* line 19, css/sass/_home.scss */
body.home .homeHero h2 {
  color: white;
}
/* line 25, css/sass/_home.scss */
body.home .homeHero p {
  color: white;
}
@media (max-width: 767px) {
  /* line 31, css/sass/_home.scss */
  body.home .homeHero .row {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* line 38, css/sass/_home.scss */
body.home img.attachment-project {
  height: initial !important;
}
/* line 41, css/sass/_home.scss */
body.home h4 {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  /* line 50, css/sass/_home.scss */
  body.home .projectsModule .card .card-title {
    min-height: 55px;
  }
}

/* line 2, css/sass/_about.scss */
body.page-template-page-about .baiHero {
  min-height: 500px;
  display: flex;
  background-position: center !important;
}
@media (min-width: 992px) {
  /* line 2, css/sass/_about.scss */
  body.page-template-page-about .baiHero {
    min-height: 600px;
  }
}
/* line 12, css/sass/_about.scss */
body.page-template-page-about .homeHero h2 {
  color: white;
}
/* line 18, css/sass/_about.scss */
body.page-template-page-about .homeHero p {
  color: white;
}
@media (max-width: 767px) {
  /* line 24, css/sass/_about.scss */
  body.page-template-page-about .homeHero .row {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* line 32, css/sass/_about.scss */
body.page-template-page-about section.about h2 {
  color: #6b4c2d;
}
/* line 38, css/sass/_about.scss */
body.page-template-page-about .baiTeam h2 {
  color: #6b4c2d;
  border-bottom: 4px solid #6b4c2d;
  display: inline;
}
/* line 44, css/sass/_about.scss */
body.page-template-page-about .baiTeam .teamMmeber div {
  /* Rectangle 4: */
  background: #fbfbfb;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 14px;
  padding: 20px 15px;
}
/* line 50, css/sass/_about.scss */
body.page-template-page-about .baiTeam .teamMmeber div h4 {
  color: #6b4c2d;
  border-bottom: 4px solid #6b4c2d;
  display: inline;
  text-transform: uppercase;
}
/* line 56, css/sass/_about.scss */
body.page-template-page-about .baiTeam .teamMmeber div p {
  font-size: 14px;
}
/* line 63, css/sass/_about.scss */
body.page-template-page-about .teamMembers .card {
  background: #f7f7f7;
  border-color: #f0ecec;
}
/* line 66, css/sass/_about.scss */
body.page-template-page-about .teamMembers .card a {
  display: block;
  overflow: hidden;
}
/* line 69, css/sass/_about.scss */
body.page-template-page-about .teamMembers .card a img {
  transition: transform 0.2s;
  /* Animation */
}
/* line 71, css/sass/_about.scss */
body.page-template-page-about .teamMembers .card a img:hover {
  transform: scale(1.2);
}
/* line 76, css/sass/_about.scss */
body.page-template-page-about .teamMembers .card h5 {
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  /* line 81, css/sass/_about.scss */
  body.page-template-page-about .teamMembers .modal .modal-dialog {
    max-width: 650px;
  }
}
/* line 86, css/sass/_about.scss */
body.page-template-page-about .teamMembers .modal .modal-header {
  background: #6b4c2d;
}
/* line 88, css/sass/_about.scss */
body.page-template-page-about .teamMembers .modal .modal-header h5 {
  color: white;
}

/* line 2, css/sass/_investement.scss */
body.page-template-page-investment .baiHero {
  min-height: 500px;
  display: flex;
  background-position: center !important;
}
@media (min-width: 992px) {
  /* line 2, css/sass/_investement.scss */
  body.page-template-page-investment .baiHero {
    min-height: 600px;
  }
}
/* line 11, css/sass/_investement.scss */
body.page-template-page-investment .homeHero h2 {
  color: white;
}
/* line 17, css/sass/_investement.scss */
body.page-template-page-investment .homeHero p {
  color: white;
}
@media (max-width: 767px) {
  /* line 23, css/sass/_investement.scss */
  body.page-template-page-investment .homeHero .row {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* line 32, css/sass/_investement.scss */
body.page-template-page-investment .card ul .benefits i {
  color: #6b4c2d;
}

/* line 45, css/sass/_investement.scss */
.faqs {
  margin-top: 20px;
}
/* line 47, css/sass/_investement.scss */
.faqs .card {
  box-shadow: none;
  margin-bottom: 20px;
}
/* line 51, css/sass/_investement.scss */
.faqs .card .card-header a {
  text-align: left;
  width: 100%;
  text-decoration: none;
  color: #6b4c2d;
  padding: 5px 3px;
}

/* line 2, css/sass/_projects.scss */
body.single .projectTop {
  position: relative;
}
/* line 4, css/sass/_projects.scss */
body.single .projectTop .projectImage {
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 4, css/sass/_projects.scss */
  body.single .projectTop .projectImage {
    display: flex;
    justify-content: center;
  }
}
/* line 11, css/sass/_projects.scss */
body.single .projectTop img {
  height: 350px;
  max-width: initial;
}
@media (min-width: 768px) {
  /* line 11, css/sass/_projects.scss */
  body.single .projectTop img {
    width: 100%;
    height: initial;
    min-height: 400px;
  }
}
/* line 20, css/sass/_projects.scss */
body.single .projectTop .container {
  background: white;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -38px;
}
/* line 27, css/sass/_projects.scss */
body.single .projectTop .container h1 {
  color: #6b4c2d;
}
/* line 30, css/sass/_projects.scss */
body.single .projectTop .container span {
  display: inline-block;
  font-size: 12px;
}
/* line 34, css/sass/_projects.scss */
body.single .projectTop .container .projectLocation {
  float: right;
}
/* line 40, css/sass/_projects.scss */
body.single .projectContent p.strong {
  color: #6b4c2d;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 47, css/sass/_projects.scss */
body.single .modal-body iframe {
  max-width: 100%;
  height: 280px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  /* line 58, css/sass/_projects.scss */
  body.single .relatedPost .card .card-title {
    min-height: 84px;
  }
}
@media (min-width: 992px) {
  /* line 65, css/sass/_projects.scss */
  body.single .sidebar {
    border-left: 1px solid #d4d4d4;
  }
}

@media (min-width: 992px) {
  /* line 78, css/sass/_projects.scss */
  body.page-template-page-proyecto .card .card-title,
  body.single-projects .card .card-title {
    min-height: 55px;
  }
}

/* line 4, css/sass/_contact.scss */
.gform_wrapper .gform_footer {
  text-align: center;
}
/* line 6, css/sass/_contact.scss */
.gform_wrapper .gform_footer input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #6b4c2d;
  color: white;
  display: inline-block;
  width: 50%;
  margin: auto;
}
/* line 31, css/sass/_contact.scss */
.gform_wrapper .validation_error {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
}
/* line 37, css/sass/_contact.scss */
.gform_wrapper .validation_message {
  color: red;
  font-size: 12px;
}
/* line 41, css/sass/_contact.scss */
.gform_wrapper .gform_hidden {
  display: none;
}
/* line 44, css/sass/_contact.scss */
.gform_wrapper .gform_fields {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
/* line 49, css/sass/_contact.scss */
.gform_wrapper .gform_fields label {
  color: #6b4c2d;
  font-weight: 500;
}
/* line 53, css/sass/_contact.scss */
.gform_wrapper .gform_fields .gfield {
  flex-grow: 1;
  width: 50%;
  margin-bottom: 15px;
}
/* line 57, css/sass/_contact.scss */
.gform_wrapper .gform_fields .gfield input {
  width: 95%;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* line 71, css/sass/_contact.scss */
.gform_wrapper .gform_fields .gfield textarea {
  width: 97%;
  height: 200px;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* line 87, css/sass/_contact.scss */
.gform_wrapper .gform_fields .gfield_error input,
.gform_wrapper .gform_fields .gfield_error textarea {
  border-color: red;
}

/* line 2, css/sass/_footer.scss */
footer.footer .container {
  max-width: 800px;
}
/* line 5, css/sass/_footer.scss */
footer.footer div.d-flex {
  flex-direction: column;
}
@media (min-width: 992px) {
  /* line 5, css/sass/_footer.scss */
  footer.footer div.d-flex {
    flex-direction: row;
  }
}
/* line 11, css/sass/_footer.scss */
footer.footer div[class*="footer"] {
  width: 100%;
  text-align: left;
}
@media (min-width: 992px) {
  /* line 11, css/sass/_footer.scss */
  footer.footer div[class*="footer"] {
    width: calc(70% / 4);
  }
}
/* line 17, css/sass/_footer.scss */
footer.footer div[class*="footer"] .footerLogo {
  width: 30%;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  /* line 17, css/sass/_footer.scss */
  footer.footer div[class*="footer"] .footerLogo {
    width: 70%;
  }
}
/* line 26, css/sass/_footer.scss */
footer.footer div[class*="footer"] a {
  color: initial;
  font-size: 14px;
}
/* line 31, css/sass/_footer.scss */
footer.footer .newsletter {
  text-align: left;
  width: 60% !important;
  margin-top: 20px;
}
@media (min-width: 992px) {
  /* line 31, css/sass/_footer.scss */
  footer.footer .newsletter {
    margin-top: 0;
  }
}
/* line 38, css/sass/_footer.scss */
footer.footer .newsletter p {
  font-size: 14px;
}
/* line 42, css/sass/_footer.scss */
footer.footer .copyright {
  font-size: 14px;
}
/* line 44, css/sass/_footer.scss */
footer.footer .copyright a {
  color: #6b4c2d;
}

@media (min-width: 992px) {
  /* line 207, css/sass/style.scss */
  body.page-template-page-blog .card .card-title {
    min-height: 72px;
  }
}

/* line 218, css/sass/style.scss */
#gform_wrapper_3 form .gform_footer {
  width: 100%;
}
/* line 220, css/sass/style.scss */
#gform_wrapper_3 form .gform_footer input[type="submit"] {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 227, css/sass/style.scss */
#gform_wrapper_3 #gform_fields_3 {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
/* line 232, css/sass/style.scss */
#gform_wrapper_3 #gform_fields_3 li {
  margin: 0;
  width: 100% !important;
}
/* line 236, css/sass/style.scss */
#gform_wrapper_3 #gform_fields_3 label {
  display: none;
}
/* line 239, css/sass/style.scss */
#gform_wrapper_3 #gform_fields_3 input[type="email"],
#gform_wrapper_3 #gform_fields_3 input[type="tel"] {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
}
